html,body{
    height: 100vh;
}

.main-container{
    display: flex;
    flex-direction: column;
    color: green;
    font-size: 20px;
    height: 90vh;
}

.navbar{
    display: flex;
    flex-direction: row;
    font-size: 30px;
}

.right-navbar{
    margin: 10px;
    color: red;
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px;
}